* {
  margin: 0px;
}

#mianbox {
  height: 890px;
  width: 1440px;
}

#box1 {
  background: #ffcd9e;
  position: absolute;
  width: 1440px;
  height: 592px;
  left: 0px;
  top: -1px;

  display: grid;
  grid-template-columns: 50% 50%;
}

#box2 {
  position: absolute;
  width: 1440px;
  height: 298px;
  left: 0px;
  top: 592px;

  /* The Black */
  background: #282828;
}

#p1 {
  position: absolute;
  width: 562px;
  height: 108px;
  left: 136px;
  top: 83px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;

  /* or 54px */

  color: #282828;
}

#p2 {
  position: absolute;
  width: 495px;
  height: 81px;
  left: 136px;
  top: 219px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;

  /* or 32px */
  display: flex;
  align-items: center;

  color: #484848;
}

#p3 {
    position: absolute;
    width: 227px;
    height: 81px;
    left: 136px;
    top: 315px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 160%;
    
    /* or 32px */
    display: flex;
    align-items: center;
    
    color: #282828;
    
    
}

#in1 {
  box-sizing: border-box;

  position: absolute;
  width: 344px;
  height: 64px;
  left: 136px;
  top: 411px;

  background: #ffffff;
  border: 4px solid #000000;
  border-radius: 8px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 160%;
}

#in2 {
  position: absolute;
  width: 216px;
  height: 64px;
  left: 496px;
  top: 411px;

  background: #282828;
  border-radius: 8px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

#p4 {
  position: absolute;
  width: 344px;
  height: 61px;
  left: 134px;
  top: 479px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;

  /* or 26px */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

#box2 {
}

#p21 {
  color: #ffffff;
  position: absolute;
  width: 216px;
  height: 36px;
  left: 191px;
  top: 62px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;

  /* or 32px */
}

#p22 {
  position: absolute;
  width: 216px;
  height: 36px;
  left: 191px;
  top: 98px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;

  /* or 32px */

  color: #ffffff;
}

#p23 {
  position: absolute;
  width: 216px;
  height: 36px;
  left: 191px;
  top: 134px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;

  /* or 32px */

  color: #ffffff;
}

#p24 {
  position: absolute;
  width: 220px;
  height: 36px;
  left: 191px;
  top: 170px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;

  /* or 32px */

  color: #ffffff;
}

#p25 {
  position: absolute;
  width: 236px;
  height: 36px;
  left: 191px;
  top: 207px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;

  /* or 32px */

  color: #ffffff;
}

#p26 {
  position: absolute;
  width: 148px;
  height: 36px;
  left: 1099px;
  top: 62px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;

  /* or 32px */
  text-align: right;

  color: #ffffff;
}

#p27 {
  position: absolute;
  width: 232px;
  height: 36px;
  left: 1015px;
  top: 98px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;

  /* or 32px */
  text-align: right;

  color: #ffffff;
}

#p28 {
  position: absolute;
  width: 232px;
  height: 36px;
  left: 1015px;
  top: 207px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;

  /* or 32px */
  text-align: right;

  color: #ffffff;
}

#Lilogo {
  position: absolute;
  width: 29.41px;
  height: 27.42px;
  left: 1179px;
  top: 136.58px;
}

#instalogo{
    
position: absolute;
width: 29.41px;
height: 27.42px;
left: 1217.59px;
top: 136.58px;


}
